In [1]:
import pandas as pd
import numpy as np

In [2]:
# Fetching the data 
df = pd.read_csv('data.csv')
# df.head()
# df.tail()
# df.info()
# df['diffbreath'].value_counts()
# df.describe()

In [3]:
# Train Test Splittng 
def data_split(data,ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices],data.iloc[test_indices]

In [4]:
# np.random.permutation(7)

In [5]:
train, test = data_split(df,0.2)

In [6]:
train

           fever  bodypain  age  runnynose  diffbreath  infectionprob
361    99.863127         0   39          1           0              0
1135   99.769633         1   32          0           0              1
1299   98.637737         0   42          1          -1              0
2372   99.097565         1   89          0          -1              1
1350   98.746293         0   84          1          -1              0
...          ...       ...  ...        ...         ...            ...
1638  100.191197         1   26          0           1              1
1095  100.362165         0   96          0          -1              1
1130  100.019099         0   84          1           1              0
1294  101.452038         1   48          0           1              1
860   100.856761         0   53          0           0              1

[2051 rows x 6 columns]

In [7]:
test

           fever  bodypain  age  runnynose  diffbreath  infectionprob
1307  101.145278         0   96          1          -1              0
1989  100.651812         1   38          0          -1              1
1521   98.508176         0   16          1           0              1
478    99.383370         0    5          0          -1              0
1791   99.126097         0    3          0           1              0
...          ...       ...  ...        ...         ...            ...
1244   99.327381         1   13          1           1              0
2250   99.018986         1   41          1          -1              0
942   100.394997         0   79          1           1              0
2470   98.661046         1   49          0           1              0
2001  100.297926         0   22          0           0              1

[512 rows x 6 columns]

In [8]:
x_train = train[['fever','bodypain','age','runnynose','diffbreath']].to_numpy()
x_test = test[['fever','bodypain','age','runnynose','diffbreath']].to_numpy()

In [9]:
y_train = train[['infectionprob']].to_numpy().reshape(2051 ,)
y_test = test[['infectionprob']].to_numpy().reshape(512 ,)

In [10]:
y_train

array([0, 1, 0, ..., 0, 1, 1], dtype=int64)

In [11]:
from sklearn.linear_model import LogisticRegression

In [12]:
clf = LogisticRegression()
clf.fit(x_train,y_train)

LogisticRegression()

# prediction

In [23]:
inputfeatures = [100,1,22,-1,1]

infprob = clf.predict_proba([inputfeatures])[0][1]

In [24]:
infprob

0.5733427290569394